<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214195145211-la0fv6lm3acl2uk9ofguh93de9gppvtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214195145211-la0fv6lm3acl2uk9ofguh93de9gppvtr</string>
	<key>API_KEY</key>
	<string>AIzaSyD6ZaFwPWsQpHOdc3FRLJQEtd6qCYQ_DGY</string>
	<key>GCM_SENDER_ID</key>
	<string>214195145211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pub.zla.MyWellness</string>
	<key>PROJECT_ID</key>
	<string>mywellness-cs125-23s</string>
	<key>STORAGE_BUCKET</key>
	<string>mywellness-cs125-23s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214195145211:ios:d38719fec0d1efb58aa35e</string>
</dict>
</plist>